<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <h1>Your profile:</h1>
    <div class="name">
        <p><strong>Your name:</strong> {{ username }}</p>
    </div>
    <div class="email">
        <p><strong>Your email:</strong> {{ user_email }}</p>
    </div>
    <div class="state">
        <p><strong>Subscribied state:</strong> {{ state }}</p>
    </div>
</body>
</html>